:root {
  --text: #b8c0c8;
  --text-h: #ffffff;
  --bg: #2b2b3d;
  --bg-surface: #374244;
  --border: #4f6367;
  --accent: #009cfd;
  --accent-bg: rgba(0, 156, 253, 0.15);
  --accent-border: rgba(0, 156, 253, 0.5);
  --red: #fd5f55;
  --orange: #fda200;
  --green: #4bc292;

  --sans: 'Pixelify Sans', monospace;
  --heading: 'Pixelify Sans', monospace;

  font: 20px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 700;
  color: var(--text-h);
}

h1 {
  font-size: 40px;
  margin: 24px 0;
  @media (max-width: 1024px) {
    font-size: 28px;
    margin: 16px 0;
  }
}

p {
  margin: 0;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
